body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.services-container, .skills-container, .projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.service-card, .skill-card, .project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    transition: 0.3s;
}

.service-card:hover, .skill-card:hover, .project-card:hover {
    background: #334155;
    transition: translateY(-8px);
}

section {
    padding: 50px 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}